* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 outline: none;
}

body {
 display: flex;
 flex-direction: column;
}

header {
 width: 100%;
 height: 60px;
 background-color: white;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}

header .site-name {
 color: rgb(74, 123, 222);
 font-family: 'Courier New', Courier, monospace;
}

header .site-name span {
 color: rgb(0, 0, 0);
}

.site-top-nav-list {
 display: flex;
 align-items: center;
 gap: 20px;
 list-style: none;
}

.top-nav-list-items a {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 14px;
 font-weight: 500;
 color: black;
 text-decoration: none;
}

.top-nav-list-items a:focus {
 color: royalblue;
 font-weight: 600;
 text-decoration: underline;
 text-decoration-style: wavy;
 text-decoration-thickness: 2px;
 text-underline-offset: 4px;
}

#site-mobile-nav-bar {
 display: none;
}

aside {
 width: 0;
 overflow: auto;
 height: 0;
}

main {
 display: flex;
 flex-direction: column;
 align-items: center;
 cursor: pointer;
}

main .showcase-screen {
 width: 100%;
 height: 60vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background: url("images/group-happy-office.jpg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 position: relative;
}

main .showcase-screen::after {
 width: 100%;
 height: 100%;
 content: '';
 position: absolute;
 background-color: #000000ba;
 left: 0;
 top: 0;
 z-index: 1;
}

main .showcase-screen .showcase-text {
 width: 60%;
 height: 65px;
 border-radius: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: x-large;
 color: rgb(0, 0, 0);
 gap: 5px;
 background-color: #ffffffb0;
 z-index: 2;
}

main .showcase-screen .showcase-text #title-text span {
 font-family: sans-serif;
}

main .showcase-screen .showcase-text small {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 13px;
 color: royalblue;
}

main #features {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 background-color: royalblue;
 gap: 20px;
 color: #ffffff;
}

main #features .features-title {
 width: 100%;
 height: 70px;
 display: flex;
 font-size: x-large;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 font-weight: 600;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main #features .features-title span {
 font-weight: 800;
 width: 100%;
 display: flex;
 font-size: small;
 justify-content: center;
 font-family: sans-serif;
 color: #222222;
 font-size: 13px;
 align-items: center;
}

main #features .features-list {
 width: 100%;
 text-align: center;
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 masonry-auto-flow: pack;
 grid-template-rows: masonry;
 justify-content: center;
 align-items: center;
 row-gap: 80px;
}

main #features .features-list-items {
 width: 100%;
 min-height: 100px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 align-items: center;
}

main #features .features-list-items img {
 width: 35px;
}

main #features .features-list-items .features-sub-titles {
 font-size: medium;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main #features .features-list-items .features-list-items-description {
 font-size: small;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 padding: 2px;
}

main #features .features-showcase {
 width: 100%;
 display: flex;
 min-height: 50vh;
 justify-content: space-evenly;
 align-items: center;
 background: url("images/modern-office.jpg");
 background-repeat: no-repeat;
 background-size: contain;
 background-blend-mode: screen;
 background-position: center;
 position: relative;
}

main #features .features-showcase::after {
 width: 100%;
 content: '';
 height: 100%;
 position: absolute;
 background-color: #222222d9;
 z-index: 1;
 top: 0;
 left: 0;
}

main #features .features-showcase .features-showcase-img {
 min-width: 100px;
 min-height: 35vh;
 max-height: 280px;
 background-clip: border-box;
 background-blend-mode: screen;
 z-index: 2;
}

main #features .features-showcase .features-showcase-text {
 min-width: 100px;
 min-height: 35vh;
 max-height: 280px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;
 z-index: 2;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main #features .features-showcase .features-showcase-text-title {
 font-size: x-large;
 color: white;
}

main #features .features-showcase .features-showcase-text-list {
 font-size: small;
 color: white;
 list-style: none;
 display: flex;
 flex-direction: column;
 align-items: center;
}

main #features .features-showcase .features-showcase-text-list-items {
 font-size: small;
 list-style: none;
 display: flex;
 align-items: center;
 gap: 2px;
}

main #sites-info {
 width: 100%;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 background-color: #3b3737;
 background-color: royalblue;
}

main #sites-info .info-containers {
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 14px;
 padding: 20px;
 width: 350px;
 color: white;
}

main #sites-info :is(.contact-title, .about-title, .form-title) {
 color: white;
 font-size: large;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main #sites-info .contact-list {
 list-style: none;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main #sites-info .contact-list-items {
 margin: 10px 0;
 display: flex;
 font-size: 13px;
 align-items: center;
 gap: 3px;
 font-family: sans-serif;
}

main #sites-info .contact-list-items img {
 width: 20px;
}

main #sites-info .about-container .about-text {
 font-family: sans-serif;
 font-size: 13px;
}

main #sites-info .form-container .form {
 display: flex;
 flex-direction: column;
 font-size: 13px;
 font-family: sans-serif;
 gap: 20px;
}

main #sites-info .form-container .form .subscribe-field {
 display: flex;
 justify-content: center;
 align-items: center;
}

main #sites-info .form-container .form .subscribe-field .subscribe-input {
 width: 70%;
 height: 30px;
 border: none;
 background-color: white;
 color: #222222;
 padding: 0 5px;
}

main #sites-info .form-container .form .subscribe-field .subscribe-button {
 width: 30%;
 height: 30px;
 border: none;
 color: royalblue;
 background-color: #222222;
}

footer {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 60px;
 background-color: #222222;
}

footer .footer-text {
 color: #ffffff;
 font-size: 16px;
 font-family: sans-serif;
}

@media screen and (max-width:600px) {
 body {
  display: flex;
  flex-direction: column;
 }

 .site-top-nav-list {
  display: none;
 }

 #site-mobile-nav-bar {
  display: flex;
 }

 #site-mobile-nav-bar img {
  width: 30px;
 }

 aside {
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 99;
  right: 0;
  top: 0px;
  transition: all 1000ms 500ms ease-in-out;
 }

 aside img {
  width: 50px;
  margin: 0 auto;
  transition: all 1000ms 500ms ease-in-out;
 }

 aside .aside-nav-list {
  padding: 20px 20px;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
 }

 aside .top-nav-list-items {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  height: 40px;
 }

 aside .aside-nav-list a {
  width: 100%;
  font-size: 15px;
 }

 main .showcase-screen .showcase-text {
  width: 80%;
  height: 60px;
  gap: 2px;
  z-index: 2;
 }

 main .showcase-screen .showcase-text #title-text span {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 main .showcase-screen .showcase-text small {
  font-size: 12px;
 }

 main #features .features-title {
  font-size: large;
 }

 main #features .features-title span {
  font-size: x-small;
 }

 main #features .features-list {
  grid-template-columns: 1fr;
  place-items: center;
  row-gap: 40px;
 }

 main #features .features-list-items {
  width: 80%;
  padding: 5px;
  gap: 10px;
  font-size: xx-small;
  font-family: sans-serif;
 }

 main #features .features-list-items .features-sub-titles {
  font-size: small;
 }

 main #features .features-list-items .features-list-items-description {
  font-size: 11px;
 }

 main #features .features-showcase {
  padding: 20px 0;
  flex-direction: column;
 }
}